.app {
	text-align: center;
}

ol {
	counter-reset: li;
	list-style: none;
	font: 14px 'Trebuchet MS', 'Lucida Sans';
	padding: 0;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

ol {
	position: relative;
	display: block;
	padding: 0.4em 0.4em 0.4em 2em;
	margin: 0.5em 0;
	background: #dad2ca;
	color: #444;
	text-decoration: none;
	border-radius: 0.3em;
	transition: 0.3s ease-out;
}

ol:hover {
	background: #dad2ca;
}

ol:hover:before {
	transform: rotate(360deg);
}

ol:before {
	content: counter(li);
	counter-increment: li;
	position: absolute;
	left: -1.3em;
	top: 50%;
	margin-top: -1.3em;
	background: #8fd4c1;
	height: 2em;
	width: 2em;
	line-height: 2em;
	border: 0.3em solid #ffffff;
	text-align: center;
	font-weight: bold;
	border-radius: 2em;
	transition: all 0.3s ease-out;
}

h5 {
	position: absolute;
	left: -1.3em;
	top: 50%;
	margin-top: -1.3em;
	background: #8fd4c1;
	height: 2em;
	width: 2em;
	line-height: 2em;
	border: 0.3em solid #ffffff;
	text-align: center;
	font-weight: bold;
	border-radius: 2em;
	transition: all 0.3s ease-out;
}

span {
	font-size: 30px;
	font-weight: bold;
	color: blue;
}
